<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.attendanceapp">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application
        android:allowBackup="true"
        android:label="AttendanceApp"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.Material3.DayNight"
        android:supportsRtl="true">

        <!-- Launcher Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Admin Login & Dashboard -->
        <activity android:name=".AdminLoginActivity" android:exported="true" />
        <activity android:name=".AdminDashboardActivity" android:exported="true" android:theme="@style/Theme.Material3.DayNight.NoActionBar" />

        <!-- Register Activities -->
        <activity android:name=".RegisterStudentsActivity" android:exported="true" />
        <activity android:name=".RegisterLecturersActivity" android:exported="true" />
        <activity android:name=".RegisterUnitsActivity" android:exported="true" />

        <!-- Remove User Activity -->
        <activity android:name=".RemoveUserActivity" android:exported="true" />



        <activity android:name=".StudentLoginActivity" android:exported="true" />
        <activity android:name=".LecturerLoginActivity" android:exported="true" />
        <activity android:name=".AllocateUnitsActivity" android:exported="true"/>
        <activity android:name=".EnrollCourseActivity" android:exported="true"/>
        <activity android:name=".PromoteCourseActivity" android:exported="true"/>
        <activity android:name=".LecturerDashboardActivity" android:exported="true" android:theme="@style/Theme.Material3.DayNight.NoActionBar"/>
        <activity android:name=".ViewUnitsActivity" android:exported="true"/>
        <activity android:name=".LecturerGenerateQRActivity" android:exported="true"/>
        <activity android:name=".StudentDashboardActivity" android:exported="true" android:theme="@style/Theme.Material3.DayNight.NoActionBar"/>
        <activity android:name=".StudentUnitsActivity" android:exported="true"/>
        <activity android:name=".StudentScanQRActivity" android:exported="true"/>
        <activity android:name=".StudentViewAttendanceActivity" android:exported="true"/>
        <activity android:name=".StudentUnitSessionsActivity" android:exported="true"/>
        <activity android:name=".LecturerViewAttendanceActivity" android:exported="true"/>
        <activity android:name=".SessionAttendanceActivity" android:exported="true"/>
        <activity android:name=".AdminMakeupRequestsActivity" android:exported="false" />


    </application>
</manifest>
